.product {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.product span {
  padding: 10px;
}

.tags {
  font-weight: 800;
}

.middle {
  text-align: center;
}

.colored {
  color: rgb(244, 82, 82);
}
